<a href="https://colab.research.google.com/github/BooblegumGIT/Notebooks/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Списки

**Список** - изменяемая последовательность, элементами которой могут быть любые типы данных

## Создание списков

In [ ]:
empty_list = []  # Пустой писок
numbers = [2, 4, 6, 0, 12]  # список с int'ами
names = ["Иван", "Алексей", "Анна"]  # список строк
any_types = [-4, 2.5, "hello", "12", 0]  # список с произвольными значениями

Встроенная функция len() позволяет узнать количество элементов в списке.

In [ ]:
numbers = [2, 4, 6, 0, 12]
print(f"В списке {numbers} {len(numbers)} элементов")

В списке [2, 4, 6, 0, 12] 5 элементов

## Обращение к элементам по индексам

Все элементы имеют порядковые номера - индексы. Индексация начинается с нуля

![list01.png](https://gcdnb.pbrd.co/images/p4ppjILZq7u4.png?o=1)

In [ ]:
# indedex:   0        1         2      3
names =  ["Иван", "Алексей", "Анна", "Петр"]
# n-index:  -4       -3        -2     -1
print("names[0] -->", names[0])
print("names[2] -->", names[2])
print("names[-4] -->", names[-4])

names[0] --> Иван
names[2] --> Анна
names[-4] --> Иван

### Задание

In [ ]:
fruits = ["яблоко", "банан", "апельсин", "арбуз", "киви"]
# TODO: Выведите первый и последний элемент списка
...

## Изменение элементов по индексам

Т.к. список **изменяемая** последовательность, элементы списка можно заменять на другие

In [ ]:
names =  ["Иван", "Алексей", "Анна", "Петр"]
print("До изменения \t", names)
names[1] = "Кирилл"  # Заменяем элемент с индексом 1
print("После изменения ", names)

До изменения 	 ['Иван', 'Алексей', 'Анна', 'Петр']
После изменения  ['Иван', 'Кирилл', 'Анна', 'Петр']

### Задание

In [1]:
names =  ["Иван", "Алексей", "Анна", "Петр"]
# TODO: поменяйте первый и последний элемент списка местами
print(names[0])
print(names[3])

Иван
Петр

## Срезы

К спискам, как и к строкам, можно применять срезы. \
Срез возвращает новый список из элементов исходного.

In [ ]:
# index:   0  1  2  3  4  5  6
numbers = [3, 4, 6, 8, 0, 5, 7]

print("numbers[2:5] -->", numbers[2:5])

numbers[2:5] --> [6, 8, 0]

Как и со строками, можно применять шаг среза и опускать начальный или конечный индекс среза

In [ ]:
numbers = [3, 4, 6, 8, 0, 5, 7]

print("numbers[:6:2] -->", numbers[:6:2])  # Срез от начала до элемента с индексом 6 с шагом 2

numbers[:6:2] --> [3, 6, 0]

### Задание

In [ ]:
numbers = [3, 4, 6, 8, 0, 5, 7]
# TODO: Использовав операцию среза, получите новый список без первого и последнего элементов исходного
...

### Задание

In [ ]:
numbers = [3, 4, 6, 8, 0, 5, 7]
# TODO: Использовав операцию среза, получите новый список из первой половины исходного
# Пояснение: если количество нечетное, берем меньшую половину(при длине 5, берем первые 2)
...

## Конкатенация и мультипликация

Списки можно складывать, используя операцию + и дублировать, используя операцию *. Все как со строками

In [ ]:
names =  ["Иван", "Алексей", "Анна", "Петр"]
salaries = [54000, 67500, 45600]

common_list = names + salaries
print(f"common_list = {common_list}")

many_names = names * 3
print(f"many_names = {many_names}")

common_list = ['Иван', 'Алексей', 'Анна', 'Петр', 54000, 67500, 45600]
many_names = ['Иван', 'Алексей', 'Анна', 'Петр', 'Иван', 'Алексей', 'Анна', 'Петр', 'Иван', 'Алексей', 'Анна', 'Петр']

## Операция вхождения in

Операция in отлично подходит, если вы хотите проверить наличие определенного элемента в списке

In [ ]:
names =  ["Иван", "Алексей", "Анна", "Петр"]
print("Анна" in names) # Анна есть в списке
print("Ольга" in names) # Ольги нет в списке

True
False

### Задание

In [ ]:
fruits = ["яблоко", "банан", "апельсин", "арбуз", "киви"]
fruit1 = ...
fruit2 = ...
# TODO: проверьте, есть ли в списке fruits фрукты fruit1 и fruit2
#  если есть, выведите "ДА", или "НЕТ" в случае отсутствия любого.
...

## Методы списков

Большинство операций со списками выполняются с помощью методов.

Полный список методов можно найти, например, [тут](https://pythonworld.ru/tipy-dannyx-v-python/spiski-list-funkcii-i-metody-spiskov.html) или [тут](https://letpy.com/handbook/list-methods/).

Метод .append() - позволяет добавить новое значение в конец списка

In [ ]:
names =  ["Иван", "Алексей", "Анна", "Петр"]
print("До добавления \t ", names)
names.append("Ольга")
print("После добавления ", names)

До добавления 	  ['Иван', 'Алексей', 'Анна', 'Петр']
После добавления  ['Иван', 'Алексей', 'Анна', 'Петр', 'Ольга']